<div class="comment" id="<%= dom_id comment %>">
  <p>
    <h2><%= comment.user.email %></h2>
  </p>
  <p>
    <%= comment.body%>
  </p>
<% if can? :manage, @comment%>
  <div>
    <%= link_to "Редактировать", edit_admin_post_comment_path(post, comment) %>
    <%= button_to "Удалить", [:admin, post, comment], method: :delete %>
  </div>
</div>
<% end%>