<div class="M_Post" id="<%= dom_id comment %>">
  <p class="M_PostHeading"><%= comment.user.email %></p>
  <p class="M_PostDescription"><%= comment.body%></p>
<% if can? :manage, @comment%>
  <div>
    <%= link_to "Редактировать", edit_admin_post_comment_path(post, comment) %>
    <%= button_to "Удалить", [:admin, post, comment], method: :delete %>
  </div>
  <div class="W_CommentReplies">
    <% comment.replies.each do |reply|%>
    <%= render reply, partial: "admin/comments/comment", comment: reply, post: post%>
    <% end %>
  </div>
</div>
<% end%>