<%#= form_with(model: [@reply, comment], url: admin_post_comment_replies_path(comment, post), method: :post) do |form| %>
<%= form_with(model: [:admin, post, parent_comment, @reply], url: admin_post_comment_replies_path(parent_comment, post), method: :post) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :reply_to_comment_id, value: parent_comment.id %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>