<div class="S_PopUp">
<div class="O_PopUp">
<p class="A_Heading3">Cмена пароля</p>
<%= form_for(current_user, url: registration_path(current_user), html:
{ method: :put }) do |f| %> <%= render "devise/shared/error_messages",
resource: current_user %>

<div class="W_InputsColumn">
  <div class="M_InputWithLabel">
    <%= f.label :email, "Email", class:"A_Heading3" %> <%=
    f.email_field :email, autofocus: true, autocomplete: "email",
    placeholder: "Введите email", class: "A_Input" %>
  </div>

  <div class="M_InputWithLabel">
    <div class="W_InputLabel">
      <%= f.label :password, "Новый пароль", class:"A_Heading3" %> <%
      if @minimum_password_length %>
      <p class="A_Paragraph Grey">
        <%= @minimum_password_length %> знаков минимум
      </p>
      <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password",
    placeholder: "Введите новый пароль", class: "A_Input" %>
  </div>

  <div class="M_InputWithLabel">
    <%= f.label :password_confirmation, "Повторите новый пароль",
    class:"A_Heading3" %> <%= f.password_field :password_confirmation,
    autocomplete: "new-password", placeholder: "Введите новый пароль
    еще раз", class: "A_Input" %>
  </div>

  <div class="M_InputWithLabel">
    <%= f.label :current_password, "Текущий пароль",
    class:"A_Heading3" %> <%= f.password_field :current_password,
    autocomplete: "current-password", placeholder: "Введите текущий
    пароль", class: "A_Input" %>
  </div>
<div class="C_Buttons">
<div class="A_Button Grey">Отмена</div>
  <%= f.submit "Обновить", class:"A_Button Blue" %> <% end %>
  </div>
</div></div>
