<br><br><br><br><br><br><br><br><br><br><br>
<div class="M_EditForm">
  <%= form_with(model: @profile) do |form| %>
    <% if @profile.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @profile.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :avatar, style: "display: block" %>
      <%= form.file_field :avatar %>
    </div>

    <div>
      <%= form.label :login, style: "display: block" %>
      <%= form.text_field :login %>
    </div>

    <div>
      <%= form.label :username, style: "display: block" %>
      <%= form.text_field :username %>
    </div>

    <div>
      <%= form.label :about, style: "display: block" %>
      <%= form.text_area :about %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>