<div class="O_Account">
  <div class="M_ProfileInfo">
    <% if @profile.avatar? %>
      <%= image_tag @profile.avatar.url, class: "A_Icon"  %>
    <% else %>
      <div class="A_Icon NoImage"></div>
    <% end %>
    <div class="W_ProfileInfo">
      <div class="W_ProfileName">
        <div class="A_Heading3">
          <%= @profile.username%>
        </div>
        <div class="A_Paragraph Grey">
          <%= @profile.login%>
        </div>
        <div class="A_Paragraph">
          <%= @profile.about%>
        </div>
      </div>
    </div>
  </div>
  <% if current_user && current_user == @profile.user %>
    <%= link_to "Редактировать", edit_profile_path(@profile), class: 'A_Button Blue' %>
  <% end %></div>
  <div class="W_ProfileSwitcher" data-controller="profile">
    <div class="M_Switcher">
      <p class="A_Paragraph A_Link" data-profile-target="postsButton" data-action="click->profile#showPosts">Публикации</p>
      <p class="A_Paragraph" data-profile-target="collectionsButton" data-action="click->profile#showCollections">Избранное</p>
      <% if current_user && current_user == @profile.user %>
        <p class="A_Paragraph" data-profile-target="draftsButton" data-action="click->profile#showDrafts">Черновики</p>
      <% end %>
    </div>
    <%= render partial: 'profiles/posts', locals: { posts: @profile.user.posts } %>
    <%= render partial: 'profiles/collections', locals: { collections: @profile.user.collections } %>
    <%= render partial: 'profiles/drafts', locals: { posts: @profile.user.posts } %>
  </div>




    <%# if @user_favourited_posts.present? %>
      <%# @user_favourited_posts.each do |post| %>
        <%#= link_to post do %>
          <%#= render partial: 'posts/post-preview', locals: { post: post, show_email: false } %>
        <%# end %>
      <%# end %>
    <%# end %>