<div class="W_Body">
  <p class="A_Heading1">Редактировать профиль <%= resource_name.to_s.humanize %></p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="W_InputsColumn">
      <div class="M_InputWithLabel">
        <%= f.label :email, "Email", class:"A_Heading3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Введите email", class: "A_Input" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="M_InputWithLabel">
      <div class="W_InputLabel">
        <%= f.label :password, "Новый пароль", class:"A_Heading3" %> 
        <% if @minimum_password_length %>
          <p class="A_Paragraph Grey"><%= @minimum_password_length %> знаков минимум</p>
        <% end %>
      </div>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Введите новый пароль", class: "A_Input" %>
        <p class="A_Paragraph Grey">Оставьте поле пустым, если не хотите менять пароль<p>
      </div>

      <div class="M_InputWithLabel">
        <%= f.label :password_confirmation, "Повторите новый пароль", class:"A_Heading3" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Введите новый пароль еще раз", class: "A_Input" %>
      </div>

      <div class="M_InputWithLabel">
        <%= f.label :current_password, "Текущий пароль", class:"A_Heading3" %> 
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Введите текущий пароль", class: "A_Input" %>
        <p class="A_Paragraph Grey">Нам нужен ваш текущий пароль, чтобы подтвердить изменения<p>
      </div>
    </div>

    <div class="W_FormButton">
      <%= f.submit "Обновить", class:"A_Button Blue" %>
    </div>
  <% end %>

  <p class="A_Heading3">Удалить аккаунт</p>

  <div>Недовольны лутком? :( <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?", turbo_confirm: "Вы уверены" }, method: :delete, class:"A_Button Black" %></div>

  <div class="Q_ChaoticLetters"></div>

  <%#= link_to "Обратно", :back, class:"A_Button White" %>
</div>
