= form_for @suggested_translation do |f|
  - if @suggested_translation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@suggested_translation.errors.count, "error")} prohibited this suggested_translation from being saved:"
      %ul
        - @suggested_translation.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :post_id
    = f.number_field :post_id
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
