%h1 Listing suggested_translations

%table
  %thead
    %tr
      %th User
      %th Post
      %th Language
      %th Body
      %th
      %th
      %th

  %tbody
    - @suggested_translations.each do |suggested_translation|
      %tr
        %td= suggested_translation.user_id
        %td= suggested_translation.post_id
        %td= suggested_translation.language
        %td= suggested_translation.body
        %td= link_to 'Show', suggested_translation
        %td= link_to 'Edit', edit_suggested_translation_path(suggested_translation)
        %td= link_to 'Destroy', suggested_translation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Suggested translation', new_suggested_translation_path
