%p#notice= notice

%p
  %b User:
  = @suggested_translation.user_id
%p
  %b Post:
  = @suggested_translation.post_id
%p
  %b Language:
  = @suggested_translation.language
%p
  %b Body:
  = @suggested_translation.body

= link_to 'Edit', edit_suggested_translation_path(@suggested_translation)
\|
= link_to 'Back', suggested_translations_path
