<div class="M_Comment" id="<%= dom_id comment %>" data-controller="comment">

  <%= link_to profile_path(comment.user.profile) do %>
    <% if comment.user.profile.avatar.present? %>
        <%= image_tag comment.user.profile.avatar.url, class: "A_Avatar" %>
    <% else %>
      <div class="A_Avatar NoImage"></div>
    <% end %> 
  <% end %> 
    <div class="W_AllTextParts">
      <div class="W_NameAndBody">
        <p class="A_Paragraph Bold"><%= comment.user.profile.username %></p>
          <p class="A_Paragraph" id="comment-body-<%=comment.id%>"><%= comment.body%></p>
          <%= render "comments/edit_form", post: @post, comment: comment %>
        <!-- <p class="A_Paragraph" style="color: red">id: <%= comment.id%></p>
        <p class="A_Paragraph" style="color: red">reply_to_comment_id: <%= comment.reply_to_comment_id%></p> -->
      </div>
      <div class="W_BottomPart">
        <div class="W_DateAndReplyButton" id="W_DateAndReplyButton">
          <p class="A_Caption Gray"><%= formatted_date(comment.created_at)%></p>
          <div class="A_Paragraph Blue">Ответить</div>
          <% if current_user.id == comment.user.id%>
            <%= link_to "Редактировать", nil, class:"A_Paragraph", id: 'EditButton', 
            data: { controller: "comments", 
            action: "comments#toggleEditForm", 
            comments_editform_param: "edit-form-#{comment.id}",
            comments_body_param: "comment-body-#{comment.id}" } %>
          <% end%>
        </div>
        <!--<div class="A_Button Transparent" data-action="click->comment#toggleReplies"></div>-->
      </div>
      <%#= render "comments/reply_form", reply: Comment.new, parent_comment: comment %>
    </div>
    <% if can? :manage, comment%>
      <%= button_to "", [post, comment], method: :delete, id:"button", class:"A_Button Transparent Q_Icon Cross" %>
    <% end%>
  </div>
  <div class="W_CommentReplies"  data-target="comment.replies">
    <% comment.replies.each do |reply|%>
    <%= render reply, partial: "comments/comment", comment: @reply, post: @post%>
    <% end %>
  </div>