<%= form_with(model: [post, comment], class:"M_InputWithAvatar") do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="A_Avatar NoImage"><%= current_user.profile.avatar %></div>
  <%= form.text_field :body, placeholder: "Оставить комментарий", class: "A_Input", id:"CommentInput" %>
  <%= form.submit "", class: "A_Button Icon Grey", id:"CommentButton", disabled: true %>
<% end %>