<div class="W_ShowPost">
  <p style="color: green"><%= notice %></p>

  <%= render @attachment %>

  <div class="Edit">
    <%= link_to "Редактировать", [:edit, :admin, @attachment] %>
    <%= link_to "Обратно к постам", admin_attachments_path %>
    <%= button_to "Удалить этот пост", [:admin, @attachment], method: :delete %>
  </div>
</div>