<div class="M_EditForm">
<trix-editor></trix-editor>
  <%= form_with(model: [:admin, post]) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title, style: "display: block", class: "A_Heading3" %>
      <%= form.text_field :title , class: "A_Input"%>
    </div>

    <div>
      <%= form.label :text, style: "display: block", class: "A_Heading3" %>
      <%= form.text_area :text , class: "A_Input"%>
    </div>

    <div>
    <%= form.submit class: "A_Button" %>
    </div>
  <% end %>
</div>