<div class="M_EditForm">
  <div class="M_FormHeader">
    <div class="A_Heading1">Авторизация</div>
    <div class="A_Heading3">Войдите в аккаунт, чтобы пользоваться всеми возможностями лутка</div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="W_InputsColumn">
      <div class="M_InputWithLabel">
        <%= f.label :email, "Email", class:"A_Heading3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Введите email", class: "A_Input"  %>
      </div>

      <div class="M_InputWithLabel">
        <%= f.label :password, "Пароль", class:"A_Heading3" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Введите пароль", class: "A_Input"  %>
      </div>
    </div>
    <div class="W_FormButton">
      <% if devise_mapping.rememberable? %>
        <div class="A_Checkbox">
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me, "Запомнить меня", class:"A_Paragraph" %>
        </div>
      <% end %>
      <%= f.submit "Войти", class:"A_Button Blue" %>
    </div>
  <% end %>

    <%= render "devise/shared/links" %>

</div>
