<%= form_with(model: post) do |form| %>
        <% if post.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="M_InputWithLabel">
        <%= form.label :title, "Название", style: "display: block; color: var(--dark_gray);", class: "A_Caption" %>
        <%= form.text_field :title, class: "A_Heading1", style: "width: 1116px;"%>
        </div>
        <div class="M_InputWithLabel", style="margin:0 auto;">
          <%= form.label :tag_list, "Добавить теги", style: "display: block", class: "A_Heading3" %>
          <%= form.text_field :tag_list, value: post.tag_list.join(' '), class: "A_Input"%>
        </div>

        <div class="O_CustomTrixEditor">
          <%= form.rich_text_area :text, data: { controller: "trix" }%>
        </div>

        <%= form.submit "Опубликовать", class:"A_Button Blue" %>
  <% end %>