<%= form_with(model: post) do |form| %>
        <% if post.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="W_EditorHeader">
        <div class="M_EditorHeader">
            <%= form.submit "Сохранить", class:"A_Button Black" %>
            <%= link_to profile_path(current_user.profile) do %>
              <% if current_user.profile.avatar.present? %>
                  <%= image_tag current_user.profile.avatar.url, class: "A_Avatar" %>
              <% else %>
                <div class="A_Avatar NoImage"></div>
              <% end %> 
            <% end %>
          </div>
        </div>
        <div class="W_EditorInputs">
          <div class="M_InputWithLabel">
          <%= form.label :title, "Название", style: "display: block; color: var(--dark_gray);", class: "A_Caption" %>
          <%= form.text_field :title, placeholder: "Название", class: "A_Heading1", style: "width: 1116px;"%>
          </div>
          <div class="M_InputWithLabel">
            <%= form.label :tag_list, "Добавить теги", style: "display: block; color: var(--dark_gray);", class: "A_Caption" %>
            <%= form.text_field :tag_list, value: post.genre_list.join(', '), class: "A_Input"%>
          </div>
        </div>
        <div class="O_CustomTrixEditor">
        <p class="A_Paragraph">Луток</p>
          <%= form.rich_text_area :text, data: { controller: "trix" }%>
        </div>
  <% end %>