<%= form_with(model: post) do |form| %>
        <% if post.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="W_EditorHeader">
          <div class="M_EditorHeader">
            <%= form.submit "Сохранить", class:"A_Button Black" %>
            <%= link_to profile_path(current_user.profile) do %>
              <% if current_user.profile.avatar.present? %>
                  <%= image_tag current_user.profile.avatar.url, class: "A_Avatar" %>
              <% else %>
                <div class="A_Avatar NoImage"></div>
              <% end %> 
            <% end %>
          </div>
        </div>         
        <div class="M_InputWithLabel Editor">
          <%= form.label :title, "Название", style: "display: block; color: var(--dark_gray);", class: "A_Caption" %>
          <%= form.text_field :title, placeholder: "Название", class: "A_Heading1"%>
        </div>
        <div class="SO_EditorSection">
          <div class="M_SectionName">
            <div class="Q_Icon ArrowUp"></div>
            <div class="A_Paragraph">Основные поля</div>
            <div class="W_Captions">
              <div class="A_Caption Gray">Заполнение полей фольклорного паспорта обязательно для любой фольклорной единицы.</div>
              <div class="A_Caption Gray">А&nbsp;еще так другим исследователям будет проще найти ваш материал, ведь все мы&nbsp;хотим быть найденными.</div>
            </div>
          </div>
          <div class="W_EditorInputs">
            <div class="M_InputWithLabel" style="margin-left: 0;">
              <%= form.label :recording_date, "Дата записи", class: "A_Heading3" %>
              <%= form.date_field :recording_date, placeholder: "Дата записи", class: "A_Input", style: "width: 172px;" %>
            </div>
            <div class="M_InputWithLabel" style="margin-left: 0;">
              <%= form.label :place, "Место", class: "A_Heading3" %>
              <%= form.text_field :place, placeholder: "Место сбора", class: "A_Input"%>
            </div>
            <div class="W_TagsSelection" data-controller="tags">
              <div class="A_Heading3">Теги</div>
              <div class="C_TagCollection" data-tags-target="selectedTagsContainer" id="selectedTags">
              </div>
              <%= form.hidden_field :kind_list, value: post.kind_list.join(", "), id: "kind", data: { tags_target: "postTagsForm", type: "kind"} %>
              <%= form.hidden_field :nationality_list, value: post.nationality_list.join(", "), id: "nationality", data: { tags_target: "postTagsForm", type: "nationality" } %>
              <%= form.hidden_field :theme_list, value: post.theme_list.join(", "), id: "theme", data: { tags_target: "postTagsForm", type: "theme" } %>
              <%= form.hidden_field :language_list, value: post.language_list.join(", "), id: "language", data: { tags_target: "postTagsForm", type: "language"  } %>
              <div class="O_TagsPicker">
                <div class="M_TagsSearchUnit">
                  <div class="W_TopSearchPart">
                    <div class="A_Paragraph Antiqua">Жанр</div>
                    <div class="A_SearchInput">
                      <div class="Q_Icon SearchGray Small"></div>
                      <%= tag.input type: "text", placeholder: "Я хочу найти…", class: "A_Paragraph", id: "kind", 
                      data: { action: "input->tags#filter", 
                              tags_target: "searchInput",
                              type: "kind" } %>
                    </div>
                  </div>
                  <div class="C_TagCollection" data-tags-target="tagContainer" id="kind" data-type="kind">
                    <% ActsAsTaggableOn::Tagging.where(context: 'kinds').distinct.pluck(:tag_id).each do |tag_id| %>
                      <% tag = ActsAsTaggableOn::Tag.find(tag_id) %>
                      <%= content_tag :span, tag.name, class: "A_Tag existing kind",
                          data: { tags_target: "tag", 
                                  action: "click->tags#handleTagClick",
                                  type: "kind"} %>
                    <% end %>
                  </div>
                </div>
                <div class="M_TagsSearchUnit">
                  <div class="W_TopSearchPart">
                    <div class="A_Paragraph Antiqua">Тема</div>
                    <div class="A_SearchInput">
                    <div class="Q_Icon SearchGray Small"></div>
                    <%= tag.input type: "text", placeholder: "Я хочу найти…", class: "A_Paragraph", id: "theme", 
                        data: { action: "input->tags#filter", 
                                tags_target: "searchInput",
                                type: "theme" } %>
                    </div>
                  </div>
                  <div class="C_TagCollection" data-tags-target="tagContainer" id="theme" data-type="theme">
                    <% ActsAsTaggableOn::Tagging.where(context: 'themes').distinct.pluck(:tag_id).each do |tag_id| %>
                      <% tag = ActsAsTaggableOn::Tag.find(tag_id) %>
                      <%= content_tag :span, tag.name, class: "A_Tag existing theme", 
                      data: { tags_target: "tag", 
                              action: "click->tags#handleTagClick",
                              type: "theme" } %>
                    <% end %>
                  </div>
                </div>
                <div class="M_TagsSearchUnit">
                  <div class="W_TopSearchPart">
                    <div class="A_Paragraph Antiqua">Язык</div>
                    <div class="A_SearchInput">
                    <div class="Q_Icon SearchGray Small"></div>
                    <%= tag.input type: "text", placeholder: "Я хочу найти…", class: "A_Paragraph", id: "language", 
                        data: { action: "input->tags#filter", 
                                tags_target: "searchInput",
                                type: "language" } %>
                    </div>
                  </div>
                  <div class="C_TagCollection" data-tags-target="tagContainer" id="language" data-type="language">
                    <% ActsAsTaggableOn::Tagging.where(context: 'languages').distinct.pluck(:tag_id).each do |tag_id| %>
                      <% tag = ActsAsTaggableOn::Tag.find(tag_id) %>
                      <%= content_tag :span, tag.name, class: "A_Tag existing language", 
                      data: { tags_target: "tag", 
                              action: "click->tags#handleTagClick",
                              type: "language" } %>
                    <% end %>
                  </div>
                </div>
                <div class="M_TagsSearchUnit">
                  <div class="W_TopSearchPart">
                    <div class="A_Paragraph Antiqua">Народность</div>
                    <div class="A_SearchInput">
                    <div class="Q_Icon SearchGray Small"></div>
                   <%= tag.input type: "text", placeholder: "Я хочу найти…", class: "A_Paragraph", id: "nationality", 
                        data: { action: "input->tags#filter", 
                                tags_target: "searchInput",
                                type: "nationality" } %>
                    </div>
                  </div>
                  <div class="C_TagCollection" data-tags-target="tagContainer" id="nationality" data-type="nationality">
                    <% ActsAsTaggableOn::Tagging.where(context: 'nationalities').distinct.pluck(:tag_id).each do |tag_id| %>
                      <% tag = ActsAsTaggableOn::Tag.find(tag_id) %>
                      <%= content_tag :span, tag.name, class: "A_Tag existing nationality", 
                      data: { tags_target: "tag",
                              action: "click->tags#handleTagClick",
                              type: "nationality" } %>
                    <% end %>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
        <div data-controller="trix">
          <div class="O_CustomTrixEditor">
            <div class="M_SectionName">
              <div class="Q_Icon ArrowUp"></div>
              <p class="A_Paragraph">Луток</p>
            </div>
            <%= form.rich_text_area :text%>
          </div>
          <div class="O_CustomTrixEditor">
            <div class="M_SectionName">
              <div class="Q_Icon ArrowUp"></div>
              <p class="A_Paragraph">Кто записан</p>
            </div>
            <%= form.rich_text_area :people %>
          </div>
          <div class="O_CustomTrixEditor">
            <div class="M_SectionName">
              <div class="Q_Icon ArrowUp"></div>
              <p class="A_Paragraph">Источник</p>
            </div>
            <%= form.rich_text_area :source%>
          </div>
          <div class="O_CustomTrixEditor">
            <div class="M_SectionName">
              <div class="Q_Icon ArrowUp"></div>
              <p class="A_Paragraph">Контекст записи</p>
            </div>
            <%= form.rich_text_area :context%>
          </div>
          <div class="O_CustomTrixEditor">
            <div class="M_SectionName">
              <div class="Q_Icon ArrowUp"></div>
              <p class="A_Paragraph">Примечания</p>
            </div>
            <%= form.rich_text_area :remark%>
          </div>
        </div>
<% end %>