<%
  post_user_ids = []

  post.users_who_liked.each do |user|
    post_user_ids << user.id
  end

  counter = post_user_ids.count > 0 ? post_user_ids.count : nil
  like_image = post_user_ids.include?(current_user&.id) ? "Liked.svg" : "Unliked.svg"
%>

<%= turbo_frame_tag dom_id(post) do %>
  <%= link_to toggle_like_post_path(post), class: "A_Button Grey", data: { turbo_frame: true } do %>
    <%= image_tag like_image %>
    <div class="<%= counter.to_i.zero? ? 'A_Paragraph hidden' : 'A_Paragraph' %>">
      <%= counter %>
    </div>
  <% end %>
<% end %>
