<%= link_to post_path(post) do %>
    <div class="M_PostPreview" id="<%= dom_id post %>">
      <div class="W_PostPreview">
        <p class="A_Heading3"><%= post.title %></p>
        <p class="A_Paragraph"><%= post.text %></p>
      </div>
      <div class="C_Tags">
        <% post.tag_list.each do |tag| %>
            <%= content_tag :span, tag, class: "A_Paragraph Antiqua A_Tag" %>
          <% end %>
      </div>
    </div>
  <% end %>
  