<%
  post_user_ids = []

  post.users_who_liked.each do |user|
    post_user_ids << user.id
  end

  counter = post_user_ids.count > 0 ? post_user_ids.count : nil
%>

<div class="M_PostHeading">
    <p class="A_Heading1"><%= post.title.html_safe %></p>
    <div class="C_TagCollection">
      <% post.kind_list.each do |tag| %>
        <%= content_tag :span, tag, class: "A_Tag kind" %>
      <% end %>
      <% post.theme_list.each do |tag| %>
        <%= content_tag :span, tag, class: "A_Tag theme" %>
      <% end %>
      <% post.language_list.each do |tag| %>
        <%= content_tag :span, tag, class: "A_Tag language" %>
      <% end %>
      <% post.nationality_list.each do |tag| %>
        <%= content_tag :span, tag, class: "A_Tag nationality" %>
      <% end %>
    </div>
    <div class="W_AuthorAndDate">
      <div class="M_PostAuthor">
        <% if local_assigns[:show_email] %>

        <%= link_to profile_path(post.user.profile) do %>
          <% if post.user.profile.avatar.present? %>
              <%= image_tag post.user.profile.avatar.url, class: "A_Avatar" %>
          <% else %>
            <div class="A_Avatar NoImage"></div>
          <% end %> 
        <% end %> 
          <div class="W_NameAndNick">
            <div class="A_Paragraph Bold"><%= post.user.profile.username %></div>
            <div class="A_Paragraph Grey"><%= post.user.profile.login %></div>
          </div>
        <% end %>
      </div>
      <div class="A_Paragraph"><%= formatted_date(post.created_at)%></div>
    </div>
    <div class="M_PostActions">
      <div class="W_ButtonGroup">
        <% if user_signed_in? %>
          <%= render 'posts/favourite_button', post: post %>
        <% end %>
        <% if user_signed_in? %>
          <%= render 'posts/like_button', post: post %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div id="<%= dom_id(post) %>" class="A_Button Grey">
              <div class="Q_Icon Unliked"></div>
              <div class="A_Paragraph">
                <%= counter %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <%= render 'posts/add_to_collection_button', post: post %>
        <% end %>
      </div>
      <div class="W_ButtonGroup">
        <%= render 'posts/share_button', post: post %>
        <% if can? :edit, post %>
          <%= render 'posts/more_button', post: post %>
        <% end %>
      </div>
    </div>
</div>
<div class="O_PostBody">
  <div class="M_PostSection">
    <div class="W_PostBody"><%= post.text %></div>
  </div>
  <div class="M_PostSection">
    <div class="A_Heading3">Кто записан</div>
    <div class="W_PostBody"><%= post.people %></div>
  </div>
  <div class="M_PostSection">
    <div class="A_Heading3">Источник</div>
    <div class="W_PostBody"><%= post.source %></div>
  </div>
  <div class="M_PostSection">
    <div class="A_Heading3">Контекст записи</div>
    <div class="W_PostBody"><%= post.context %></div>
  </div>
  <div class="M_PostSection">
    <div class="A_Heading3">Примечания</div>
    <div class="W_PostBody"><%= post.remark %></div>
  </div>
</div>