<%= link_to post_path(post) do %>
    <div class="M_PostPreview" id="<%= dom_id post %>">
      <div class="W_PostPreview">
        <p class="A_Heading3"><%= post.title %></p>
        <!--<p class="A_Paragraph"><%= post.text %></p>-->
      </div>
      <%= render 'posts/tags_collection', post: post %>
    </div>
  <% end %>
  