<div class="M_PostHeading">
    <p class="A_Heading1"><%= post.title.html_safe %></p>
    <%= render 'posts/tags_collection', post: post %>
    <div class="W_AuthorAndDate">
      <div class="M_PostAuthor">
        <% if local_assigns[:show_email] %>

        <%= link_to profile_path(post.user.profile) do %>
          <% if post.user.profile.avatar.present? %>
              <%= image_tag post.user.profile.avatar.url, class: "A_Avatar" %>
          <% else %>
            <div class="A_Avatar NoImage"></div>
          <% end %> 
        <% end %> 
          <div class="W_NameAndNick">
            <div class="A_Paragraph Bold"><%= post.user.profile.username %></div>
            <div class="A_Paragraph Grey"><%= post.user.profile.login %></div>
          </div>
        <% end %>
      </div>
      <div class="A_Paragraph"><%= formatted_date(post.created_at)%></div>
    </div>
  </div>
  <div class="M_PostActions">
    <div class="W_ButtonGroup">
      <%= render 'posts/favourite_button', post: post %>
      <%= render 'posts/like_button', post: post %>
      <%= render 'posts/add_to_collection_button', post: post %>
    </div>
    <div class="W_ButtonGroup">
      <%= render 'posts/share_button', post: post %>
      <%= render 'posts/more_button', post: post %>
    </div>
  </div>

<div class="W_PostBody"><%= post.text %></div>