<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Редактировать", edit_post_path(@post) %> |
  <%= link_to "Обратно к постам", posts_path %>

  <%= button_to "Удалить этот пост", @post, method: :delete %>
</div>

<%= link_to "Оставить комментарий", new_post_comment_path(@post) %>

<div class="comments">
  <%= render @post.comments, post: @post %>
</div>