<div class="O_Header">
    <div class="W_Menu">
      <% if controller.controller_name == 'welcome' && (controller.action_name == 'index' || controller.action_name == 'search') %>
        <div class="A_Logo"></div>
      <% else %>
        <%= link_to "", welcome_index_url, class: "A_Logo #{random_logo_class}" %>
      <% end %>
      <!--<div class="W_MenuBarCenter">
        <p> Скоро тут будет поиск :) </p>
      </div> -->
      <div class="W_MenuBarRight">
        <% if user_signed_in? && current_user.admin == true%>
            <%= link_to "Загрузить", new_post_path, class:"A_Button LightBlue" %>
        <% end %>
        <% if user_signed_in? %>
        <div class="A_AvatarHeaderButton">
        <%= link_to profile_path(current_user.profile) do %>
            <% if current_user.profile.avatar.present? %>
                <%= image_tag current_user.profile.avatar.url, class: "Q_MockImage" %>
            <% else %>
              <div class="A_Avatar NoImage"></div>
            <% end %> 
            <% end %> 
            <div class="Q_Opener Q_DropOpener" id="desktopOpener"></div>    
            </div>      
        <% else %>
          <%= link_to "Войти", new_user_session_path, class: "A_Button Black" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="W_Dropdown">
    <div class="M_Dropdown NotActive" id="desktopDropdown">
      <% if user_signed_in? %>
        <%= link_to profile_path(current_user.profile), class: "M_PostAuthor" do %>
          <div class="A_Avatar NoImage">
          <% if current_user.profile.avatar.present? %>
            <%= image_tag current_user.profile.avatar.url, class: "A_Avatar" %>
          <% else %>
            <div class="A_Avatar NoImage"></div>
          <% end %>      
          </div>
            <div class="W_PreviewInfo">
              <div class="A_Paragraph Bold">
              <%= current_user.profile.username %>
              </div>
              <div class="A_Paragraph Grey">
              <%= current_user.profile.login %>
              </div>
            </div>
            <%= link_to "Профиль", profile_path(current_user.profile), class: "A_Button Transparent" %>
            <%= link_to "Настройки", edit_profile_url(current_user.profile), class: "A_Button Transparent" %>
            <div class="A_Button Transparent">Язык</div>
            <%= link_to "Поддержка", support_index_url, class: "A_Button Transparent" %>
            <%= link_to "Выйти", destroy_user_session_url, class: "A_Button Transparent" %>
        <% end %>
      <% else %>
      <%= link_to "Язык", welcome_about_url, class: "A_Button Transparent" %>
      <%= link_to "Поддержка", support_index_url, class: "A_Button Transparent" %>
      <%= link_to "Войти", new_user_session_path, class: "A_Button Transparent" %>
      <% end %>
  </div>
  </div>
  <div class="O_HeaderMobile">
  <div class="W_HeaderMobile">
    <div class="A_Menu_Mobile" id="burgerMenu">
      <div></div>
      <div></div>
      <div></div> 
    </div>
    <%= link_to "", welcome_index_url, class:"A_Logo #{random_logo_class}" %>
    <div class="Q_Search"> </div>
    </div>

  <div class="M_Dropdown NotActive" id="mobileDropdown">
  <% if user_signed_in? %>
  <%= link_to "Профиль", profile_path(current_user.profile), class: "A_Button Transparent" %>
  <%= link_to "Настройки", edit_profile_url(current_user.profile), class: "A_Button Transparent" %>
  <div class="A_Button Transparent">Язык</div>
  <%= link_to "Поддержка", support_index_url, class: "A_Button Transparent" %>
  <%= link_to "Выйти", destroy_user_session_url, class: "A_Button Transparent" %>
  <% else %>
  <%= link_to "Язык", welcome_about_url, class: "A_Button Transparent" %>
  <%= link_to "Поддержка", support_index_url, class: "A_Button Transparent" %>
  <%= link_to "Войти", new_user_session_path, class: "A_Button Transparent" %>
  <% end %>
  </div>
</div>



