<div class="O_Header">
    <div class="W_Menu">
      <%= link_to "", admin_posts_url, class:"A_Logo" %>
      <!--<div class="W_MenuBarCenter">
        <p> Скоро тут будет поиск :) </p>
      </div> -->
      <div class="W_MenuBarRight">
        <% if user_signed_in? && current_user.admin == true%>
            <%= link_to "Загрузить", new_admin_post_path, class:"A_Button Black" %>
        <% end %>
        
        <% if user_signed_in? %>
          <%= link_to profile_path(current_user.profile), class: "A_AvatarHeaderButton" do %>
            <% if current_user.profile.avatar.present? %>
                <%= image_tag current_user.profile.avatar.url, class: "Q_MockImage" %>
            <% else %>
              <div class="Q_MockImage NoImage"></div>
            <% end %>         
          <% end %>
        <% else %>
          <%= link_to "Зарегистрироваться", new_user_registration_path, class: "A_Paragraph" %>
          <%= link_to "Войти", new_user_session_path, class: "A_Paragraph" %>
        <% end %>
      </div>
    </div>
  </div>