<div class="O_Menubar">
<div class="W_MenuPages">
  <%= link_to "главная", welcome_index_url, class:"A_MenuButton" %>
  <%= link_to "о нас", welcome_about_url, class:"A_MenuButton" %>
  <% if user_signed_in? && current_user.admin == true%>
    <%= link_to "песни", admin_posts_url, class:"A_MenuButton" %>
    <%#= link_to "комментарии", admin_comments_url, class:"A_MenuButton" %>
    <%= link_to "подписки", admin_subscriptions_url, class:"A_MenuButton" %>
  <% end %>
  </div>
  <div class="W_MenuAuth">
  <% if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path, class:"A_MenuButton" %>
    <%= link_to "выйти", destroy_user_session_path, class:"A_MenuButton", method: :delete %>
  <% end %>
  </div>
</div>