<div class="O_Header">
    <div class="W_Menu">
      <%= link_to "", admin_posts_url, class:"A_Logo" %>
      <!--<div class="W_MenuBarCenter">
        <p> Скоро тут будет поиск :) </p>
      </div> -->
      <div class="W_MenuBarRight">
        <% if user_signed_in? && current_user.admin == true%>
            <%= link_to "Загрузить", new_admin_post_path, class:"A_Button Black" %>
        <% end %>
        <% if user_signed_in? %>
        <div class="A_AvatarHeaderButton">
            <% if current_user.profile.avatar.present? %>
                <%= image_tag current_user.profile.avatar.url, class: "Q_MockImage" %>
            <% else %>
              <div class="Q_MockImage NoImage"></div>
            <% end %> 
            <div class="Q_Opener Q_DropOpener"></div>    
            </div>      
        
        <% else %>
          <%= link_to "Войти", new_user_session_path, class: "A_Button Black" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="W_Dropdown">
  <div class="M_Dropdown NotActive">
  <% if user_signed_in? %>
    <%= link_to profile_path(current_user.profile), class: "M_ProfilePreview" do %>
      <div class="A_Avatar">
      <% if current_user.profile.avatar.present? %>
        <%= image_tag current_user.profile.avatar.url, class: "Q_MockImage" %>
      <% else %>
        <div class="Q_MockImage NoImage"></div>
      <% end %>      
      </div>
        <div class="W_PreviewInfo">
          <div class="A_Paragraph">
          <%= current_user.profile.username %>
          </div>
          <div class="A_Paragraph Grey">
          <%= current_user.profile.username %>
          </div>
        </div>
        <%= link_to "Профиль", profile_path(current_user.profile), class: "A_Button Transparent" %>
        <%= link_to "Настройки", profile_path(current_user.profile), class: "A_Button Transparent" %>
        <%= link_to "Язык", welcome_about_url, class: "A_Button Transparent" %>
        <%= link_to "Поддержка", support_index_url, class: "A_Button Transparent" %>
        <%= link_to "Выйти", destroy_user_session_url, class: "A_Button Transparent" %>
    <% end %>
  <% else %>
  <%= link_to "Язык", welcome_about_url, class: "A_Button Transparent" %>
  <%= link_to "Поддержка", support_index_url, class: "A_Button Transparent" %>
  <%= link_to "Войти", new_user_session_path, class: "A_Button Transparent" %>
  <% end %>
</div>
</div>
<div class="O_HeaderMobile">
<div class="W_HeaderMobile">
  <div class="A_Menu_Mobile Q_DropOpener">
    <div></div>
    <div></div>
    <div></div> 
  </div>
  <%= link_to "", admin_posts_url, class:"A_Logo" %>
  <div class="Q_Search"> </div>
  </div>

<div class="M_Dropdown NotActive">
<% if user_signed_in? %>
      <%= link_to "Профиль", profile_path(current_user.profile), class: "A_Button Transparent" %>
      <%= link_to "Настройки", profile_path(current_user.profile), class: "A_Button Transparent" %>
      <%= link_to "Язык", welcome_about_url, class: "A_Button Transparent" %>
      <%= link_to "Поддержка", support_index_url, class: "A_Button Transparent" %>
      <%= link_to "Выйти", destroy_user_session_url, class: "A_Button Transparent" %>
<% else %>
<%= link_to "Язык", welcome_about_url, class: "A_Button Transparent" %>
<%= link_to "Поддержка", support_index_url, class: "A_Button Transparent" %>
<%= link_to "Войти", new_user_session_path, class: "A_Button Transparent" %>
<% end %>
</div>
</div>



