<!DOCTYPE html>
<html>
  <head>
    <title>Луток</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.png" type="image/png" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <script src="https://cdn.jsdelivr.net/npm/p5@1.8.0/lib/p5.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>

    <%= javascript_importmap_tags %>

  </head>
  <body>
  <%=turbo_frame_tag "modal" do %>
  <% end %>
    <%= render partial: 'menubar', locals: { profile: @profile } %>
    <div class="W_Body">
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
